body {
  background-color: rgb(83, 185, 185);
}
.login_form {
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  height: 50vh;
  background: white;
  padding: 30px;
  border-radius: 15px;
}
.login_form_heading h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
.email,
.password {
  margin-left: 8px;
}
#email,
#password {
  margin-top: 5px;
  margin-left: 30px;
  padding: 10px;
  width: 20vw;
  border-radius: 5px;
}

.button {
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 120px;
  padding: 5px;
  width: 10vw;
  border-radius: 5px;
  background: darkred;
  color: wheat;
  border: none;
  font-weight: 600;
}
.forgotpassword {
  margin-left: 140px;
}
