* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  height: 60px;
  background-color: blueviolet;
}
header h1 {
  color: white;
  padding: 10px;
  text-align: center;
}
main {
  padding: 30px;
  margin: 50px auto;
  border: 3px solid violet;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  margin: 20px;
}
#mytext {
  padding: 0px 10px;
  margin-right: 10px;
  height: 30px;
}
#addBtn {
  background-color: violet;
  padding: 5px;
}
#addBtn:hover {
  cursor: pointer;
  background-color: rgb(255, 75, 255);
}
ul {
  list-style: none;
  width: 100%;
  background-color: violet;
}
li {
  position: relative;
  padding: 10px;
}
.close {
    cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.close:hover{
    background-color: thistle;
}