*{
    box-sizing: border-box;
}

.round{
    margin-top: 40px;
    background: url("image.jpg");
    background-repeat: round;
    width: 100vw;
    height: 100vh;
    margin: 20px auto;
}

.round p{
    color: antiquewhite;
    width: 90%;
    padding: 20px;
}
