* {
  list-style: none;
}

body {
  background: lightgreen;
}
header {
  height: 40vh;
  margin-bottom: 40px;
}
section {
  background-color: rgb(96, 224, 96);
}
section div{
    padding-bottom: 20px;
}
section h1 {
  color: white;
}
ul li{
    margin: 10px;
}

